/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background: #f4f4f4;
    color: #333;
    line-height: 1.6;
  }
  
  /* Header Styles */
  header {
    background: #004080;
    padding: 1rem;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    font-size: 2.5rem;
    color: white;
  }
  
  header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  /* Section Styles */
  section {
    padding: 2rem;
    margin: 1rem 0;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .gallery-item {
    width: 30%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .gallery-item:hover {
    transform: scale(1.05);
  }  
  
  .campeonatos {
    margin: 20px 0;
}

.campeonatos h2 {
    font-size: 2em;
    color: #333;
}

.campeonatos ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
}

.campeonatos li {
    font-size: 1em;
    margin-bottom: 10px;
    color: #333;
}

  /* Footer Styles */
  footer {
    background: #004080;
    color: white;
    text-align: center;
    padding: 1rem 0;
  }
  
  